<h1> This page displays all of the projects on the site </h1>

<% collection_select(:university, :name, @universities, :id, :name, {:prompt => true})%>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2> <%= project.title %> </h2>
    <p> <%= project.description %> </p>	
    <p> £<%= project.target_amount %></p>
    <p> <%= project.end_date.strftime("%d/%m/%Y") %></p>
    <p>  "Donate to project" </p>
  <% end %>
<% else %>
  No projects yet
<% end %>


