<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2> <%= project.title %> </h2>
    <p> <%= project.description %> </p>	
    <p> <%= project.target_amount %></p>
  <% end %>
<% else %>
  No projects yet
<% end %>

<a href='/projects/new'>Add a project</a>